<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple Data Entry Application</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1>Please enter the details below</h1>
<form action="#" th:action="@{/submit}" th:object="${dataModel}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" name="name" required><br>
    <label>Age:</label>
    <input type="number" th:field="*{age}" name="age"><br>
    <label>Title:</label>
    <input type="text" th:field="*{title}" name="title" required><br>
    <label>Hometown:</label>
    <input type="text" th:field="*{hometown}" name="hometown"><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>